
file_header_template = ********************************************************************\n⚡ MvvmGen => https://github.com/thomasclaudiushuber/mvvmgen\nCopyright © by Thomas Claudius Huber\nLicensed under the MIT license\n********************************************************************
